* {
    box-sizing: border-box;
}

:root {
    --clr-primary-txt: #c9d1d9;
    --clr-primary-bg: #0d1117;
    --clr-border: #8090a8;
    --clr-orange: #ec8e2c;
    --clr-blue: #58a6ff;
    --clr-pink: #bc8cff;
}

body {
    font-family: "Fira Mono", monospace, sans-serif;
    background-color: var(--clr-primary-bg);
    color: var(--clr-primary-txt);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 1rem;
    overflow: hidden;
}

#main-container {
    padding: 2rem;
    max-width: 800px;
    position: relative;
}

#main-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0.1px solid var(--clr-border);
    z-index: -1;
}

.content {
    display: block;
    position: relative;
    z-index: 1;
}

.ascii-full, .ascii-small {
    display: none; /* Hide all by default */
    text-align: center;
    color: var(--clr-primary-txt);
    position: relative;
}

/* Full ASCII art for large screens */
@media screen and (min-width: 769px) {
    .ascii-full {
        display: block;
        font-size: 0.8rem;
    }
}

/* Small ASCII art for small screens */
@media screen and (max-width: 768px) {
    #main-container {
        padding: 2rem;
        border: none;
    }
    .ascii-small {
        display: block;
        font-size: 1.2rem; /* Adjusted for better fit */
        margin: 0 -2rem; /* Allow overflow */
    }
}



.text-container {
    flex-grow: 1;
}

.text-output {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.5rem;
}

.text-output a {
    color: var(--clr-pink);
    text-decoration: none;
}

.text-output a:hover {
    text-decoration: underline;
}

.text-orange {
    color: var(--clr-orange);
}

.text-blue {
    color: var(--clr-blue);
}

.text-output::after {
    content: '_';
    animation: blink 1s infinite;
    color: var(--clr-pink);
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}